.loading-fragment{
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
.loading-fragment p{
    color: #000000;
    font-weight: bold;
    font-size: larger;
}