.club-index-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 5px 6px #ccc;
}
.club-index-page-img
{
    width: 100%;
    height: 200px ;
    overflow: hidden;
}
.club-img-top
{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.club-index-page-body
{
    padding: 5% 5% 5% 5%;
    width: 100%;
}
.club-index-page-title{
    background-color: #cccccc00;
}
.club-index-page-head{
    display: grid;
    grid-template-columns: 60% 30% 20%;
    width: 100%;
    align-items: center;
    align-content: flex-start;
    column-gap: 2%;
    padding-right: 2%;
}
.register-button{
    font-size: large;
}
.notification-button{
    border-radius: 25px;
    max-width: 40px;
    max-height: 40px;
    height: 100%;
    width: 100%;
    min-height: 20px;
    min-width:20px;
    font-size: large;
    text-align: center;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    font-weight: bold;
}
.club-index-page-content{
    line-height: 200%;
}
.club-index-page-footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.club-index-page-footer-title{
    height: 100%;
    margin-bottom: 2%;
}
.club-index-page-footer-img{
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    height: 100%;
    width: 100%;
    justify-content: center;
}